

* {
    margin: 0;
}

body {margin: 0; background: #000;}
html, body {
    height: 100%;
}

.header {
    margin-top: 50%;
	height:50px;
    background:#F0F0F0;
    border:1px solid #CCC;
    width:960px;
    margin:0px auto;
}

.main {
	height: 599px;
	background: #000;
	border:1px solid white;
	width: 960px;
	margin: 100px auto;
}

.imgpng {
    position: relative;
    float: left;
    margin: 0 0 10px 10px;
}
.decaler {
    margin-left: 161px;
}
.margin {
    margin-top: 5px;
    margin-left: 920px;
}

.placebuttonunder {
    position: relative;
    margin-left: 399px;
}

.topmarg {
    margin-top: 50px;
    margin-left: 30px;
}

button#startbutton {
    margin-left: 21vw;
    width: 129px;
    height: 23px;
    border-radius: 19px;
}

.split {
	height: 599px;
	width: 161px;
	margin-right: 0px;
	background: white;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -142px; 
}

.footer, .push {
    background: white;
    height: 142px;
}
