@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

*
{
    margin: 0;
}

html, body
{
    height: 100%;
}

.header
{
	height: 150px;
}

.logoOut
{
	margin-top: 5px;
	margin-left: 10px;
}

.main
{
	min-height: 100%;
    /*height: auto !important;*/
    height: 100%;
    margin: 0 auto -142px; 
}

.menuCentral
{
	width: 60%;
	/*top: 200px;*/
	position: relative;
	display: inline-block;
	/*margin-left: 100px;
	margin-right: 100px;*/
}

.snap
{

	height: 40px;
	font-family: 'Ubuntu', sans-serif;
	display: block;
	align-self: center;
	position: absolute;
	left: 25%;
}



.menuLeft input[type="stick"]
{
	display: none;
}

.menuLeft
{
	position: relative;
	/*top: 300px;*/
	height: 600px;
	width: 120px;
    float: left;
    margin-left: 100px;
}

.menuRight
{
	/*top: 300px;*/
	border: 5px solid green;
	position: relative;
	float: right;
	margin-right: 100px;
	height: 600px;
	width: 120px;

}