@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
    margin: 0;
}

html, body {
    height: 100%;
}

input, button {
	padding: 8px 12px;
	border-radius: 4px;
	font-size: 14px;
}

.header {
	width: 100%;
	height: 40px;
	padding: 12px;
	background: #ccc;
	margin-bottom: 24px;
}

.main, .content {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
}

.logoOut {
	width: 25px;
	margin-top: 5px;
	margin-left: 10px;
}

.menuLeft, .menuRight {
	border: 3px solid #ccc;
	border-radius: 4px;
	position: absolute;
	z-index: 10;
	width: 200px;
	height: 90%;
	overflow-y: scroll;
}

.menuLeft img, .menuRight img {
	width: 100%;
}

.menuLeft {
	left: 20px;
}

.menuRight {
	right: 20px;
}

.rowCenter {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 8px;
}





